@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700');
*{
	padding: 0
	margin: 0;
	box-sizing: border-box;
}

/*-PC-*/
@media (min-width: 768px) {
	.none{
		display:none !important;
	}

	body{
		font-family: 'Source Code Pro', monospace;
	}

	header{
		background: url("../images/fon.jpg");
		background-position: center;
		background-size: cover;
	}
	.page-title {
		font-size: 80px;
		font-weight: 200;
		text-align: center;
		padding: 100px;
		color: #000;
	}

	.nav {
		background:#000;
		text-align: center;
	}
	.nav li{
		display: inline-block;
	}
	.nav li a{
		display: inline-block;
		padding: 20px;
		color: #fff;
		text-decoration: none;
	}
	.nav li a:hover {
		background-color: #3AB795;
		/*text-decoration: underline;*/
	}


	.add {
		margin: auto;
		width: 50%;
		/*border: 1px dashed rgba(0, 89, 181, 0.82);*/
		border: 1px dashed rgba(192, 192, 192, 0.82);
		border-radius: 5px;
		padding: 5px;
	}
	.add_author, .add_text, .add_btn, .add_checkrule {
		display: block;
		margin: 0 0 5px 0;
		padding: 5px;
		width: 94%;
		border: 1px solid rgba(192, 192, 192, 0.82);
	}

	.add_checkrule {
		border: none;
		font-size: 12px;
	}

	.add_btn {
		box-sizing: content-box;
		color: #000;
		text-transform: uppercase;
		/*background: #007ddc;*/
		background: #c0c0c0;
	}

	.add_btn:disable {
		background: #ccc;
		color: #999;
	}



	.news_title {
		background: #c0c0c0;
		color:#000;
		margin: 5px 0;
		padding-left: 30%;
	}
	

	.news {
		width: 50%;
		margin: auto;
	}

	.article {
		background: #fff;
		border: 1px solid rgba(192, 192, 192, 0.82);
		/*width: 600px;*/
		width: 10s0%;
		margin: 0 0 5px;
		box-shadow: 2px 2px 5px -1px rgb(192, 192, 192);
		padding: 3px 5px;
	}

	.news_author {
		text-decoration: underline;
		color: #007ddc;
	}

	.news_count {
		margin: 10px 0 0 0;
		display: block;
	}

	.test-input {
		margin: 0 5px 5px 0;
	}

	
	footer{
		padding: 20px;
		margin:auto;
		/*max-width: 600px;*/
		width: 100%;
		max-height: 55px;
		border-top:1px solid #444;
		display: inline-block;
	}
	footer p{
		font-size: 12px;
		color: #444;
		text-align: center;
		margin: auto;
	
}