doctype html
html
  head
    link(rel='stylesheet', href='CSS_reset.css')
    link(rel='stylesheet', href='books.css')
    title Books Library
  body
    header
      h1.page-title Dmitry Izhutov

    ul.nav
      li: a(href='http://localhost:7000') Home
      li: a(href='http://localhost:7000/no') Login
      li: a(href='http://localhost:7000/books') Library
      li: a(href='http://localhost:7000/chat') Chat
    
    .main-content
      p Список доступной литературы
      div.books-link
        a(href='/data-books/it.pdf') Оно - Сивен Кинг

    footer
      p Copyright © 2016 Dmitry Izhutov
