doctype html
html
  head
    link(rel='stylesheet', href='CSS_reset.css')
    link(rel='stylesheet', href='books.css')
    title Books Library
  body
    header
      h1.page-title Dmitry Izhutov

    ul.nav
      li: a(href='http://localhost:7000') Home
      li: a(href='http://localhost:7000/no') Login
      li: a(href='http://localhost:7000/books') Library
      li: a(href='http://localhost:7000/chat') Chat
    
    .main-content
      p Список доступной литературы
      div#root
        p Loading...

    footer
      p Copyright © 2016 Dmitry Izhutov

    script(src='js/react/react.js')
    script(src='js/react/react-dom.js')
    script(src='js/react/browser.min.js')
    script(src='js/EventEmitter.js')
    script(type='text/babel', src='js/booksRender.js')
