doctype
html
	head
		title="Node Chat"
		link(rel='stylesheet',href='CSS_reset.css',type='text/css')
		link(rel='stylesheet',href='style.css',type='text/css')
		script(src='chat.js')
		script(src='/socket.io/socket.io.js')
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
	body
		div(id='div')
			#content
			form#form(action='', onsubmit='return false')
				input#field
				input#send(type='submit', value='Послать')